.container {
  max-width: 100vh;
}

.formContainer {
  border: 1px solid silver;
  width: fit-content;
  padding: 50px;
  margin: 50px;
  border-radius: 10px;
  height: fit-content;
  background-color: #fff;
}

.header {
  text-align: right;
  margin-bottom: 20px;
  font-size: 1.8rem;
  color: #1a73e8;
}

.formField {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  height: 75px;
}

.formField label {
  text-align: right;
  margin-bottom: 5px;
  color: rgb(85, 85, 85);
  font-size: 0.9rem;
}

.formInput {
  width: 350px;
  height: 30px;
  border-radius: 5px;
  padding: 0px 10px;
  border: 1px solid silver;
  transition: all 0.2s linear;
}

.uncompleted {
  width: 350px;
  height: 30px;
  border-radius: 5px;
  padding: 0px 10px;
  border: 1px solid red;
  transition: all 0.2s linear;
}

@media screen and (max-width: 768px) {
  .formInput {
    width: 100%;
  }
  .uncompleted {
    width: 100%;
  }
}

.formInput:focus,
.uncompleted:focus {
  outline: none;
  border: 1px solid #1a73e8;
}

.formField span {
  height: auto;
  text-align: right;
  margin-top: 5px;
  width: fit-content;
  font-size: 0.7rem;
  color: red;
  line-height: 10px;
  padding: 2px 3px;
  border-radius: 3px;
  background-color: rgba(255, 0, 0, 0.175);
}

.checkBoxContainer {
  display: flex;
  font-size: 0.85rem;
  align-items: center;
  justify-content: flex-start;
}

.checkBoxContainer label {
  color: #1a73e8;
  margin-top: 2px;
}

input[type="checkbox"] {
  font-size: 20px;
  appearance: none;
  transition: all 0.2s ease-in;
}
input[type="checkbox"]::after {
  content: "⭕";
}

input[type="checkbox"]:checked {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
}

input[type="checkbox"]:checked::after {
  content: "✅";
}

.formButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.formButtons button {
  background-color: #1a73e8;
  padding: 10px 20px;
  color: #fff;
  border-radius: 5px;
  border: none;
  font-size: 0.875rem;
  font-weight: 500;
  transition: all 0.1s ease-in;
  cursor: pointer;
}

.formButtons button:hover {
  background-color: #004aaa;
}

.formButtons a {
  color: #1a73e8;
  text-decoration: none;
  transition: all 0.1s ease-in;
  font-weight: 700;
}

.formButtons a:hover {
  color: #004aaa;
}
@media (max-width: 768px) {
  .formContainer {
    padding: 20px;
    margin: 50px 20px;
  }

  .formContainer {
    width: 90%;
  }

  .formInput {
    width: 90%;
  }

  .uncompleted {
    width: 90%;
  }
}
