@font-face {
  font-family: "YekanBakh";
  src: url("./assets/fonts/YekanBakhFaNum-Regular.woff") format("woff2");
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-display: auto;
}
@font-face {
  font-family: "YekanBakh";
  src: url("./assets/fonts/YekanBakhFaNumBold.woff") format("woff2");
  font-weight: 700;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-display: auto;
}
@font-face {
  font-family: "YekanBakh";
  src: url("./assets/fonts/YekanBakhFaNum-Black.woff") format("woff2");
  font-weight: 900;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-display: auto;
}

::-webkit-scrollbar {
  display: none;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --font-family-primary: "YekanBakh";
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f8f9fc;
  font-family: var(--font-family-primary);
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
  background-image: url(/src/assets/img/bg-blue.jpg);
}
@media screen and (max-width: 768px) {
  body {
    margin: 10px;
    display: block;
  }
}

input {
  font-family: var(--font-family-primary);
}
button {
  font-family: var(--font-family-primary);
}

.Toastify__toast-body {
  font-family: var(--font-family-primary) !important;
}
